body {
    
    background-position:center;    
    background-repeat: no-repeat;
    background-attachment:fixed
}
#webpage_title {
    /*float:left;margin-top: 10px;*/
       
}
#logo {
    width:130px;
    height:130px;
    float:left;   
    margin-top:15px;
    margin-right:20px;   
}
#title {
    /*float:left;*/
    margin-top:25px;
    border-style: none;
   
}
#welcome {
    /*float:right;*/
    margin-top: 10px;
    margin-right: 5px;
   
   
}
#password {
    /* float:right;*/
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    border-style: none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#logout {
    /* float:right;*/
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    border-style: none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
#datetime {
    float:right;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-style: none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#header_button_container {
    
    margin-top: 20px;
   
}
