body {    
    
}
#webpage_title {
    /*float:left;margin-top: 10px;*/
       
}
#logo {
    width:130px;
    height:130px;
    float:left;   
    margin-top:15px;
    margin-right:20px;   
}
#title {
    /*float:left;*/
    margin-top:25px;
    border-style: none;
   
}
#welcome {
    /*float:right;*/
    margin-top: 10px;
    margin-right: 5px;  
   
}
#content-container-panel
{
    min-height:500px;
}
#password {
    /* float:right;*/
   
    margin-right: 5px;
   
    margin-left: 5px;
    border-style: none;
    
}
#logout {
    /* float:right;*/
   
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    border-style: none;
   
}
#datetime {
    float:right;
   
}

#header_button_container {
    
    margin-top: 20px;
   
}
