body {
    background-color: #EEE;
}
#login-panel{    
     margin-top:15%;
     padding-bottom:20px;
}

.blank-div
{
    height: 20px
}
.form-signin {
    position: relative;
    font-size: 20px;
    font-weight: normal;
    height: auto;
    width: auto;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    vertical-align:middle;
    z-index: 2;
}
.form-signin-heading {
    margin-bottom: 10px;
}
.form-signin input[type="username"] {
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
    border-style: groove;
    border-color:
}
.form-signin input[type="password"] {
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
    border-style: groove;
    border-color:
}
.form-signin input[type="code"] {
    position: relative;
    font-size: 20px;
    margin-bottom: 5px;
    border-style: groove;
    border-color:
}
#login {
    font-size: 20px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
#register {
    font-size: 20px;
}
